In [1]:
import numpy as np
import pandas as pd
import ml_recorder
import random
import time

ModuleNotFoundError: No module named 'ml_recorder'

In [2]:
rec = ml_recorder.Recorder('outputs')

for t in range(100):
    score = random.random()
    rec.store({'score': score})
    rec.summary()
    time.sleep(0.1)

In [3]:
df = rec.get_progress()

In [5]:
df

       score                time elapsed_time
0   0.672968 1900-01-24 15:01:36     00:00:00
1   0.511332 1900-01-24 15:01:36     00:00:00
2   0.438545 1900-01-24 15:01:36     00:00:00
3   0.007727 1900-01-24 15:01:36     00:00:00
4   0.616767 1900-01-24 15:01:36     00:00:00
..       ...                 ...          ...
95  0.133709 1900-01-24 15:01:46     00:00:10
96  0.556404 1900-01-24 15:01:46     00:00:10
97  0.039914 1900-01-24 15:01:46     00:00:10
98  0.972342 1900-01-24 15:01:46     00:00:10
99  0.816162 1900-01-24 15:01:46     00:00:10

[100 rows x 3 columns]

In [6]:
df.time

0    1900-01-24 15:01:36
1    1900-01-24 15:01:36
2    1900-01-24 15:01:36
3    1900-01-24 15:01:36
4    1900-01-24 15:01:36
             ...
95   1900-01-24 15:01:46
96   1900-01-24 15:01:46
97   1900-01-24 15:01:46
98   1900-01-24 15:01:46
99   1900-01-24 15:01:46
Name: time, Length: 100, dtype: datetime64[ns]

In [7]:
t = pd.to_datetime(df.time, format='%d, %H, %M, %S')

In [8]:
t

0    1900-01-24 15:01:36
1    1900-01-24 15:01:36
2    1900-01-24 15:01:36
3    1900-01-24 15:01:36
4    1900-01-24 15:01:36
             ...
95   1900-01-24 15:01:46
96   1900-01-24 15:01:46
97   1900-01-24 15:01:46
98   1900-01-24 15:01:46
99   1900-01-24 15:01:46
Name: time, Length: 100, dtype: datetime64[ns]

In [9]:
start = t[0]

In [24]:
df['elapsed_time'] = t - start

In [25]:
df

       score            time elapsed_time
0   0.671361  24, 14, 02, 55     00:00:00
1   0.919380  24, 14, 02, 56     00:00:01
2   0.920783  24, 14, 02, 56     00:00:01
3   0.716431  24, 14, 02, 56     00:00:01
4   0.003063  24, 14, 02, 56     00:00:01
..       ...             ...          ...
95  0.814832  24, 14, 03, 05     00:00:10
96  0.831143  24, 14, 03, 05     00:00:10
97  0.203155  24, 14, 03, 05     00:00:10
98  0.645256  24, 14, 03, 05     00:00:10
99  0.880112  24, 14, 03, 05     00:00:10

[100 rows x 3 columns]